body {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
h1 {
    text-align: center;
}

.container {
    width: 50%;
    height: 50%;
    border: 8px solid gray;
}
.btn {
    width: 60px;
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 2px;
    text-align: center;
    line-height: 50px;
}

.displayLine {
    margin: 2px;
    padding: 4px;
    padding-right: 10px;
    border: 3px solid gray;
    font-size: 3em;
    text-align: right;
}

.misckeys, .numkeys {
    display: flex;
}

.numkeys {
    flex-wrap: wrap;
}

.misckeys .btn {
    background-color: azure;
}

.rightside .btn {
    background-color: azure;
}

#total {
    background-color: lightpink;
}

.keys {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
