body {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
h1 {
    text-align: center;
}

.btn {
    width: 60px;
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: azure;
}

.misckeys .btn {
    background-color: lightgray;
}

.rightside .btn {
    background-color: lightgray;
}

#total {
    background-color: lightpink;
}

.keypad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.leftside {
    display: flex;
    flex-wrap: wrap;

}